DOMAIN=tudominio.com
ACME_EMAIL=admin@tudominio.com
DB_NAME=rustcms
DB_USER=rustcms
DB_PASS=cambia_esto_por_password_seguro
REDIS_PASS=cambia_esto_por_redis_password
JWT_SECRET=cambia_esto_por_secret_muy_largo_y_seguro
